#destination1, #destination2, #destination3, #error {
  display: none;
}

p {
  font-size: 200%;
}

h2 {
 color: red;
 padding: left;
}


h3 {
  font-style: italic;
}

.container {
  padding-top: 20px;
  background-color: orange;
}

.photo {
  width: 80%;
}
